*a {
  color: #ffffff;
}

.App {
  background-color: #000000;
  height: 100%;
  min-height: 100vh;
}

.header {
  background-color: black;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.menuLink {
  text-decoration: none;
}

.about {
  color: #ffffff;
  font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.categories {
  color: #ffffff;
  margin-bottom: 20px;
}

.active {
  background-color: blue !important;
}

.cardItem {
  width: 100%;
  position: relative;
}

.cardHover {
  display: flex;
  justify-content: center;
  align-items: center;
}
.details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.details a,
.container a {
  color: #ffffff;
  transition: ease-in-out 0.8ms;
}

.detailsVisible {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: ease-in-out 0.8ms;
}

.dropdown-toggle:empty::after {
  display: none;
}

.dropdown-toggle {
  background-color: transparent !important;
  background-image: url("./assets/burgerMenu.svg") !important;
  border: none !important;
  width: 35px;
  height: 35px;
  margin: 10px;
}

.btn-success:focus {
  box-shadow: none !important;
}
